*{
    /*font-family: 'Exo', sans-serif;*/
}
#gallery {
    position: relative;
    background: none repeat scroll 0% 0%;
    text-align: -moz-center;
    border-top: 3px solid rgb(24, 0, 187);
    padding: 0.5em 0;
}
.blues{
    background-color: #0B1CB0;
}
.teal{
    color: #02bdd5;
}
h2.title1 {
    color: white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    /*width: 45%;*/
    max-width: 100%;
    text-align: center;
    background: rgb(24, 0, 187);
    position: relative;
    top: -10px;
    /* font-family: Noticia Text,serif; */
}
.text-no-link{
    text-decoration: none;
    cursor: pointer
}
.wrapper-block {
    display: inline-block;
    position: relative;
}

.hover {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    padding-top: 2px;
    background-color: rgba(105, 105, 105, .8);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-toggle::after {
    display:none;
}


img {
    vertical-align: bottom;
}

.text-primary{
    color: #0B1CB0;
}

.footer_graph {
    float: left;
    width: 100%;
    height: 61px;
    background: url(../img/footer-graph.png) no-repeat 120px top;
}

.footer1 {
    float: left;
    width: 100%;
    padding: 18px 0px 40px 0px;
    background: #262626 url(../img/footer-graph2.jpg) no-repeat center bottom;
}
.divider_dashed1 {
    float: left;
    width: 100%;
    margin: 45px 0px;
    border-top: 1px dashed #3b3b3b;
}



.box{
    width:100%;
    margin:50px auto;
    position:relative;
    background-color:#FFF;
    border:1px solid #FFF;
}
.box:before{
    -webkit-transform: skew(0deg, 4deg);
    box-shadow:5px 5px 5px #000;
    position:absolute;
    background-color:#0B1CB0;
    bottom:-5px;
    right:0;
    content:'';
    z-index:-6;
    top: 10px;
    width:220px;
    height:100%;		
    right:5px;
}

.card-no-border{
    border: 1px solid white
}

/*==================================================
 * Effect 1
 * ===============================================*/
/*.effect1{
    box-shadow: 0 10px 6px -6px #777;
}*/

.brown{
    background: #F3F3F3;
}

.slidershadow {
    float: left;
    width: 100%;
    height: 32px;
    background: url(../img/shadow.png) no-repeat center top;
    position: relative;
    z-index: 999;
}